# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maja Tengstedt\Documents\Skole\3. semester\Algoritmer og datastrukture\Ugeopgaver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
